DATA_SOURCE_URI=authentik-db:5432/authentik?sslmode=disable
DATA_SOURCE_USER=authentik
DATA_SOURCE_PASS={{ authentik_postgres_password }}
PG_EXPORTER_EXTEND_QUERY_PATH=/etc/postgres_exporter/authentik-queries.yml
